<div class="home__container">
  <app-card
    id="1"
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gamePrice="R$ 129.99"
    gameType="DIGITAL | PS4"
  >
  </app-card>
  <app-card
    id="2"
    gameCover="assets/bt-hardline.jpg"
    gameLabel="NEW"
    gamePrice="R$ 369.99"
    gameType="DISC | PS3 PS4 PS5"
  >
  </app-card>
  <app-card
    id="3"
    gameCover="assets/ac-cover.jpg"
    gameLabel="BEST OF YEAR"
    gamePrice="R$ 129.99"
    gameType="DIGITAL | PS5"
  >
  </app-card>
  <app-card
    id="4"
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 269.99"
    gameType="DISC | PS5"
  >
  </app-card>
  <app-card
    id="5"
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="DIGITAL"
    gamePrice="R$ 129.99"
    gameType="DIGITAL | PS4"
  >
  </app-card>
  <app-card
    id="6"
    gameCover="assets/bt-5.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 269.99"
    gameType="DISC | PS5"
  >
  </app-card>
</div>
